<p>employee works!</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Other names</th>
            <th>First Lastname</th>
            <th>Second Lastname</th>
            <th>Country</th>
            <th>Id Type</th>
            <th>Id Num</th>
            <th>Email</th>
            <th>Entry</th>
            <th>Work Area</th>
            <th>State</th>
            <th>Registration</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
