<div class="containter">
<h3 class="h3 mt-5">List of employees</h3>

@if (allEmployees == null) {
<div class="text-center p-5">
  <div class="spinner-border text-muted"></div>
  Can't load Employees from REST API ...
</div>


} @else {


  <div class="card m-5 p-3">
    <div class="card-body table-responsive">
      <table datatable class="table table-hover table-sm">
        <thead class="table-active">
          <tr>
            <th class="text-center">Actions</th>
            <th class="text-center">id</th>
            <th class="text-center">Firstname</th>
            <th class="text-center">Other names</th>
            <th class="text-center">First Lastname</th>
            <th class="text-center">Second Lastname</th>
            <th class="text-center">Country</th>
            <th class="text-center">Id Type</th>
            <th class="text-center">Id Num</th>
            <th class="text-center">Email</th>
            <th class="text-center">Entry</th>
            <th class="text-center">Work Area</th>
            <th class="text-center">State</th>
            <th class="text-center">Registration</th>
          </tr>
        </thead>
        <tbody>
          @for (employee of allEmployees; track $index) {
          <tr>
            <td>
              <a class="btn btn-sm btn-primary"><span class="fa-regular fa-eye"></span></a>
              <a class="btn btn-sm btn-warning"><span class="fa-regular fa-pen-to-square"></span></a>
              <a class="btn btn-sm btn-danger"><span class="fa-regular fa-trash-can"></span></a>
            </td>
            <td class="text-center">{{ employee.id }}</td>
            <td class="text-center">{{ employee.firstName }}</td>
            <td class="text-center">{{ employee.otherNames }}</td>
            <td class="text-center">{{ employee.firstLastName }}</td>
            <td class="text-center">{{ employee.secondLastName }}</td>
            <td class="text-center">{{ employee.country }}</td>
            <td class="text-center">{{ employee.idType }}</td>
            <td class="text-center">{{ employee.identificationNum }}</td>
            <td class="text-center">{{ employee.email }}</td>
            <td class="text-center">{{ employee.entryDate }}</td>
            <td class="text-center">{{ employee.workArea }}</td>
            <td class="text-center">{{ employee.state }}</td>
            <td class="text-center">{{ employee.regDateTime }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>}
</div>

