<div class="containter">
<h3 class="h3 mt-5">List of employees</h3>

@if (employees == null) {
<div class="text-center p-5">
  <div class="spinner-border text-muted"></div>
  Can't load Employees from REST API ...
</div>


} @else {


  <div class="card m-5 p-3">
    <div class="card-body table-responsive">
      <table datatable class="table table-hover table-sm">
        <thead class="table-active">
          <tr>
            <th class="text-center">id</th>
            <th class="text-center">Firstname</th>
            <th class="text-center">Other names</th>
            <th class="text-center">First Lastname</th>
            <th class="text-center">Second Lastname</th>
            <th class="text-center">Country</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (employee of employees; track $index) {
          <tr>
            <td class="text-center">{{ employee.id }}</td>
            <td class="text-center">{{ employee.firstName }}</td>
            <td class="text-center">{{ employee.otherNames }}</td>
            <td class="text-center">{{ employee.firstLastName }}</td>
            <td class="text-center">{{ employee.secondLastName }}</td>
            <td class="text-center">{{ employee.country }}</td>
            <td class="text-center">
              <a (click)="goEmployeeDetail(employee.id)" class="btn btn-sm btn-secondary m-1"><span class="fa-regular fa-eye"></span></a>
              <a (click)="goEmployeeEdit(employee.id)" class="btn btn-sm btn-warning"><span class="fa-regular fa-pen-to-square"></span></a>
              <a (click)="deleteConfirmed(employee.id)" class="btn btn-sm btn-danger m-1" data-bs-toggle="modal"  [attr.data-bs-target]="'#deleteModal-' + employee.id"><span class="fa-regular fa-trash-can"></span></a>
            </td>

            
              <div class="modal" [id]="'deleteModal-' + employee.id">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4>Delete employee</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cancelConfirmed()"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                      Are you sure to delete <strong> {{ employee.firstName }} {{ employee.firstLastName}} </strong>? ... 
                    </div>
                    <!-- Modal footer -->
                    @if(confirmed == employee.id) {
                    <div class="modal-footer">
                      <button type="button" (click)="onDeleteEmployee(employee.id)" class="btn btn-md btn-danger" data-bs-dismiss="modal">I really want to delete this!</button>
                      <button type="button" (click)="cancelConfirmed()" class="btn btn-md btn-warning" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    }
                  </div>
                </div>
                
              </div>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <ul class="pagination justify-content-center">
    <button class="btn btn-secondary" (click)="goToPreviousPage();gotoTop()" [disabled]="currentPage === 0"><span class="fa-solid fa-caret-left"></span></button>
    <span class="m-2">Page {{currentPage + 1}} of {{totalPages}}</span>
    <button class="btn btn-secondary" (click)="goToNextPage();gotoTop()" [disabled]="currentPage === totalPages-1"><span class="fa-solid fa-caret-right"></span></button>
  </ul>
}
</div>

